# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LAJJBOARD_LEFT_V2

config ZMK_KEYBOARD_NAME
	default "lajjBoardV2"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_LAJJBOARD_LEFT_V2 || SHIELD_LAJJBOARD_RIGHT_V2

config ZMK_SPLIT
	default y
endif